<ion-header class="bg">
  <ion-toolbar class="toolbar">
    <ion-buttons>
      <ion-back-button slot="start" defaultHref=""></ion-back-button>
      <input slot="end"
      type="file"
      name="file"
      id="file"
      class="fileInput"
      (change)="loadGpxFromDevice($event)"/>
        <label for="file"><ion-icon style="zoom:1.5;" name="arrow-up-circle-outline"></ion-icon>Add GPX</label>
      <ion-button (click)="deletePathInMap()">Remove path</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>

<ion-footer class="bg">

  <ion-item-group>
    <ion-row>
      <ion-col size="6">
        <ion-item class="bg-item">
          <ion-card class="card">
            <ion-card-header class="card-header">Distance</ion-card-header>
            <ion-card-content class="card-content"> 0 km </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="bg-item">
          <ion-card class="card">
            <ion-card-header class="card-header"> Time </ion-card-header>
            <ion-card-content [chronometer]="chronometer" class="card-content"> </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item-group>
  
  <ion-buttons>
    <ion-button *ngIf="!startChr" (click)="run(chronometer, 2)" class="start-btn">
      Start
    </ion-button>
  </ion-buttons>
  <ion-row>
    <ion-col>
      <ion-buttons>
        <ion-button *ngIf="startChr && !pauseChr" (click)="run(chronometer, 1)" class="pause-btn">
          Pause
        </ion-button>
        <ion-button *ngIf="startChr && pauseChr" (click)="run(chronometer, 2)" class="pause-btn">
          Restart
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button *ngIf="startChr" (click)="run(chronometer, 3)" class="finish-btn">
          Finish
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>

</ion-footer>
