<app-navbar-user></app-navbar-user>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <section class="card">
                    <div class="card hovercard">
                        <div class="cardheader">
                        </div>
                        <div class="avatar">
                            <img [src]="['https://localhost:8080/imgrepo/' + this.user.imagenperfil]" alt="">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="https://scripteden.com/">{{user.fname}} {{user.mname}}</a>
                            </div>
                            <div class="desc">Seguidores: {{user.nseguidores}}</div>
                            <div class="desc">Siguiendo: {{user.nsiguiendo}}</div>
                            <div class="desc">Actividades: </div>            
                        </div>
                        <div class="buttons">
                            <button class="btn">
                                <i class="fas fa-walking"></i>
                            </button>
                            <button class="btn">
                                <i class="fas fa-biking"></i>
                            </button>
                            <button class="btn"> 
                                <i class="fas fa-walking"></i>
                            </button>
                            <button class="btn">
                                <i class="fas fa-walking"></i>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-9">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12" *ngFor="let actividadUsuario of actividades; let i = index">
                                <div class="friend-card w-100">
                                    <div class="container">
                                        <div class="row"> 

                                            <div class="card hovercard col-4">
                                                <div class="cardheader">
                                                </div>
                                                <div class="avatar">
                                                    <img alt="" [src]="['https://localhost:8080/imgrepo/' + actividades[i].imagenperfil]">
                                                    <div class="name">
                                                        <a target="_blank" href="https://scripteden.com/">{{actividades[i].nombreusuario}}</a>
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="desc">Tipo Actividad: {{actividades[i].tipoactividad}} </div>
                                                    <div class="desc">Distancia: {{actividades[i].distancia}} km</div>  
                                                </div> 
                                            </div>   
                                            <div class="col-4">
                                                <button class="button" (click)="loadMap(i)">Ver Mapa</button>
                                                <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP4uhFoFputXsRIVCA5Oaqi5b_x3DyOwg&callback=initMap"></script>
                                                <div [id]="i" style="height: 500px;width: 500px;"></div>  
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                                   
                                </div>
                               
                            </div>       
                            
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>   
</body>
