<app-navbar-user></app-navbar-user>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="busqueda">Busqueda</label>
        <input type="text" formControlName="busqueda" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <div class="container">
        <div class="row">
            <section class="card col-4" *ngFor="let usuario of resultados; let i = index">
                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img alt="" [src]="['https://localhost:8080/imgrepo/' + resultados[i].imagenperfil]">
                        <div class="name">
                            <a target="_blank" href="https://scripteden.com/">{{resultados[i].nombreusuario}}</a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="desc">Nombre: {{resultados[i].fname}} {{resultados[i].mname}} {{resultados[i].lname}}</div>
                        <div class="desc">Nacionalidad: {{resultados[i].nacionalidad}}</div>   
                    </div>
                        <button *ngIf="!siguiendo(resultados[i].siguiendo)" class="buttons" (click)="seguir($event, usuario)">Seguir</button>
                        <button *ngIf="siguiendo(resultados[i].siguiendo)" class="buttonred" (click)="seguir($event, usuario)">Dejar de Seguir</button>
                </div>
                
            </section>
        </div>
       
    </div>
        

    
</form>
