<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bde2ff;">
    <a class="navbar-brand" href="#">StravaTEC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['../login'] ">Search</button>
            </li>
        </ul>
    </div>
</nav>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="busqueda">Busqueda</label>
        <input type="text" formControlName="busqueda" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <div>
        <section class="card" *ngFor="let usuario of resultados; let i = index">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/output/people-q-g-100-100-7.jpg">
                    <div class="name">
                        <a target="_blank" href="https://scripteden.com/">{{resultados[i].nombreusuario}}</a>
                    </div>
                </div>
                <div class="info">
                    <div class="desc">Nombre: {{resultados[i].fname}} {{resultados[i].mname}} {{resultados[i].lname}}</div>
                    <div class="desc">Nacionalidad: {{resultados[i].nacionalidad}}</div>   
                </div>
                <button class="buttons" (click)="seguir($event, usuario)"> Seguir</button>   
            </div>
            
        </section>
    </div>

    
</form>
