
<!DOCTYPE html>
<html>
  <body>
    <h1 class="titulo">Administrador de eventos</h1>
    <div div class="container">
      <p class="texto">En este sitio puede ver y administrar los eventos para los usuarios</p>
      <p class="texto">Usted puede:</p>
      <ul>
        <li><strong>Crear nuevas carreras</strong>. Puede crear carreras para que los usuarios se suscriban y compitan</li>
        <li><strong>Crear retos</strong>. Puede crear retos para que los usuarios pongan a prueba sus habilidades.</li>
      </ul>
      <h1 class="titulo">Entrar como deportista</h1>
      <p class="texto">Para entrar como deportista ingrese con el botón</p>
      <a class="btn btn-warning " [routerLink]="['login'] " ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg> Ingresar</a>
    </div>
    
  </body>
</html>