
<!DOCTYPE html>
<html>
  <body>
    <h1 class="titulo">Administrador de eventos</h1>
    <div div class="container">
      <p class="texto">En este sitio puede ver y administrar los eventos para los usuarios</p>
      <p class="texto">Usted puede:</p>
      <ul>
        <li><strong>Crear nuevas carreras</strong>. Puede crear carreras para que los usuarios se suscriban y compitan</li>
        <li><strong>Crear retos</strong>. Puede crear retos para que los usuarios pongan a prueba sus habilidades.</li>
      </ul>
    </div>
  </body>
</html>